html(lang="en")
    head
        meta(charset='utf-8')
        title Login
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel="stylesheet", href='../login.css')
        script(src="../login-signup.js")
    body
        .header
            include header.pug
        div(class="Center" style="padding-left:100px; width: 100%" )
            h2(class='login') Login
            form(id='login-form' action="/login/verify" method="get" style="padding-left:100px; width: 100%")
                label(for="userName") UserName:
                br
                input(class='login-input' type="text" name="userName" placeholder="UserName")
                br
                br
                label(for="password") Password:
                br
                input(id="pw-entry" class='login-input' type="password" name="password" placeholder="Password")
                input(type="checkbox" onclick="Toggle()" name="show-pw-ch-box")
                label(for="show-pw-ch-box")
                    b Show Password
                br
                input(type="submit" value="Submit") 
            
        