
html
    head
        meta(charset='utf-8')
        title Search
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel="stylesheet", href='../style.css')
        link(rel="stylesheet", href='../userPage.css')
    body 
        .header
            include Userheader.pug
            h2 User Page 
            div(class='jim-carrey')
            h3(style="font size=3")=Result.userName
                h4(id="favorite-title") Favorites:
                    each item in Result.favMovie
                        if item.favMovieTitle != null 
                            a(class='fave-movie-title' href=`/movie/${item.favMovieID}`)=item.favMovieTitle + ","
                        else 
                            h6 No movies are favorited
                h5(id="user-comment") Comments:
                    each comm in Result.comment
                        if comm.txt != null
                            li 
                                a(href=`/movie/${comm.comMovieID}`)=comm.txt
                        else 
                            h6 No comments are commented
        div(class="Center")
            h6(id='Delete-Account')
                form(action="/delete" method="get" style="padding-left:100px; width: 100%")
                    button(type="submit") Delete Account
                    
    <!--line: 18 - when we eed future stuff to go under the favorites line its in the line below this-->
    <!--line 20 -displays the favorite movies of the user-->
    <!--pretty sure this was added on line 23 but that should make the movie a link a(class="favorite-link" href='/movie/$(Result.mobieID)') Favorite-->
    <!--html translate to pug -->
    <!--//header that says user profile-->
    <!--//favorites list-->
    <!--//username "Result.un"-->
    
