
html
    head
        meta(charset='utf-8')
        title Search
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel="stylesheet", href='../style.css')
        link(rel="stylesheet", href='../userPage.css')
    body 
        .header
            include header.pug
            h2(style="margin-left:0.5%")=`${Result.userName}'s User Page` 
            div(class='jim-carrey')
            h4(id="favorite-title" style="margin-left:0.5%") Favorites:
                each item in Result.favMovie
                    if item.favMovieTitle != null 
                        a(class='fave-movie-title' href=`/movie/${item.favMovieID}` style="margin-left:0.5%")=item.favMovieTitle + ","
                    else 
                        h6(style="margin-left:0.5%") No movies are favorited
            h5(id="user-comment" style="margin-left:0.5%") Comments:
                each comm in Result.comment
                    if comm.txt != null
                        li 
                            a(href=`/movie/${comm.comMovieID}` style="margin-left:0.5%")=comm.txt
                    else 
                        h6(style="margin-left:0.5%") No comments are commented
        br
        form(action="/logout" method="post" style="margin-left:2.5%")
            button(type="submit") Log Out
        br
        form(action="/delete" method="post" style="margin-left:2.5%")
            button(type="submit") Delete Account
                    
    <!--line: 18 - when we eed future stuff to go under the favorites line its in the line below this-->
    <!--line 20 -displays the favorite movies of the user-->
    <!--pretty sure this was added on line 23 but that should make the movie a link a(class="favorite-link" href='/movie/$(Result.mobieID)') Favorite-->
    <!--html translate to pug -->
    <!--//header that says user profile-->
    <!--//favorites list-->
    <!--//username "Result.un"-->
    
