.header-ul {
    display: inline;
    padding: 1%;
}

.header-li {
    text-align: center;
    color:rgb(21, 255, 0);
}

.header-div {
    background-color: rgb(92, 19, 134);
}

.home-link {
    color: rgb(255, 255, 15);
}

.home-link:hover {
    color: rgb(0, 255, 242);
}

#user-link {
    margin-left: 4%;
    display: inline-block;
    color: rgb(255, 255, 15);
}

#user-link:hover {
    color: rgb(0, 255, 242);
}