.login-input {
    padding-left:20px;
    width: 30%
}

#login-form {
    background: burlywood;
}

body {
    background-image: url(./assets/jc-grinch-face.png);
    background-size: 10%;
    background-color: aquamarine;
}