.list {
    display: inline;
    font-size: large;
    font-weight: 600;
}

.no-data {
    font-size: large;
    margin-left: 2%;
}

.review{
    font-size: large;
    margin-left: 2%;
}

h3 {
    margin-left: 0.2%;
}

.h-data{
    font-size: x-large;
    margin-left: 2%;
}