.jim-carrey {

    height: 30%;
    background-image: url(./assets/jc-grinch-face.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

    width: 300px;
    border-radius: 50%;
    margin-left: 0.1%;
    margin-right: auto;
    display: block;
}

body {
    background-color: rgba(77, 76, 76, 0.692);
}


a {
    color: #000000;
}

.avatar {
    width: 300px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center{
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    width: 100%;
}

.floated-right{
    width: 60%;
    float: right;
}

.result{
    margin-left: 50px;
    width: 30%;
    font-size: large;
    float: left;
}

#login {
    padding-top: 4%;
    width: 10%;
    float: right;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
}